project_name  = <your_project_name>
project_id    = <your_project_id>
region        = <your_region>
db_name       = <your_db_name>
db_user       = <Your_db_user>
db_password   = <your_db_password>
instance_name = <Your_db_instance_name>
zone          = <Your_zone_name>
db_password           = <your_db_password>
repository_id         = <Your_repository_id>
service_account_email = <Your_service_account_email>
cpu_pool_machine_type = <Your_cpu_pool_machine_type>
cpu_pool_disk_size    = <Your_cpu_pool_disk_size>
enable_gpu_pool       = <true_or_false>
cluster_name = <Your_cluster_name>
