project_name  = "<your_project_name>
project_id    = <your_project_id>
region        = "asia-southeast1"
db_name       = "num1-database"
db_user       = "num1-user"
db_password   = "Abc@12345678"
instance_name = "instance-dev"
bucket_name = "app-bucket-dev"
repository_id         = "team1-ai-repo"
cpu_pool_machine_type = "e2-standard-2"
cpu_pool_disk_size    = 100
enable_gpu_pool       = true
gpu_node_zones = ["asia-southeast1-a", "asia-southeast1-b", "asia-southeast1-c"]
gpu_disk_size = 100
cluster_name          = "gke-cluster-dev"
subnets_list = [
  {
    name          = "team1-subnet-dev"
    ip_cidr_range = "10.0.1.0/24"
    region        = "asia-southeast1"
  }
]
node_zones = ["asia-southeast1-a", "asia-southeast1-b", "asia-southeast1-c"]